<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar PQR</title>
</head>
<body>
    <h1>Registrar una PQR</h1>
    <form id="form-pqr">
        <input type="text" id="motivo" placeholder="Motivo" required>
        <textarea id="descripcion" placeholder="Descripción" required></textarea>
        <button type="submit">Registrar</button>
    </form>
    <p id="mensaje" ></p>

    <p><a href="/historial">Ver mi historial</a></p>

    <script src="/static/js/crear_pqr.js"></script>
</body>
</html>