<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de PQR</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
        <header class="header">
            <h1>Mercado Viva</h1>
            <button class="btn-logout" onclick="cerrarSesion()">Cerrar sesión</button>
        </header>
        <main class="contenedor">
        <h2>Gestión de PQR</h2>
        <table id="tabla-pqrs">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Clasificar y asignar</th>
                    <th>Cerrar</th>
                </tr>
            </thead>
            <tbody id="cuerpo-tabla"></tbody>
        </table>
    </main>
    <script src="/static/js/comun.js"></script>    
    <script src="/static/js/gestion_pqrs.js"></script>
</body>
</html>